@import '../../styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../@theme/styles/themes';

:host {

  background: #FF9933; // and use it
  box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
  border-radius: 10px 10px 10px 10px;
  color:#2a2a2a;
  padding-left: 15px;
}

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(color-fg);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(color-fg-heading);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}
